<div>
    <h2>User Login</h2>
    <div>
        <input [(ngModel)]="username" type="text" placeholder="user name">
    </div>
    <div>
        <input [(ngModel)]="password" type="password" placeholder="password">
    </div>
    <div>
        <button class="loginButton" type="submit" (click)="validateLoginCredentials()">Login</button>
    </div>
    {{failureMessage}}
</div>
